<ion-content fullscreen>
  <div class="container">
    <!-- Cercle orange avec image -->
    <div class="circle-container">
      <img src="assets/img/sac.png" alt="Sac scolaire" class="sac-img" />
    </div>

    <!-- Pagination -->
    <div class="dots">
      <div class="dot active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

    <!-- Section texte avec fond bleu -->
    <div class="bottom-section">
      <h2>Avec Soutoura, votre geste change une vie</h2>
      <p>Devenez le soutien qui ouvre les portes du savoir.</p>

      <!-- Bouton flèche -->
      <div class="next-btn">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
