<app-header titre="Association Kankou Moussa"></app-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <img class="school-image" src="assets/ecole.jpg" alt="Photo de l'école primaire Kankou-Moussa">

    <div class="info-wrapper">
      <h2 class="info-title">Informations sur l'école</h2>

      <div class="info-box">
        <p class="description">
          L'école Primaire Kankou-Moussa est un établissement d'enseignement primaire situé au cœur de la ville, offrant un environnement d'apprentissage stimulant et bienveillant pour les enfants de 6 à 11 ans. Notre mission est de fournir une éducation de qualité, axée sur le développement global de chaque élève.
        </p>

        <ion-list class="details-list">
          <ion-item class="detail-item">
            <ion-icon slot="start" name="location-outline" aria-hidden="true"></ion-icon>
            <ion-label>
              <h3 class="detail-title">Adresse</h3>
              <p class="detail-text">Sotuba Bamako, Mali</p>
            </ion-label>
          </ion-item>

          <ion-item class="detail-item">
            <ion-icon slot="start" name="people-outline" aria-hidden="true"></ion-icon>
            <ion-label>
              <h3 class="detail-title">Nombre d'élèves à parrainer</h3>
              <p class="detail-text">25</p>
            </ion-label>
          </ion-item>

          <ion-item class="detail-item">
            <ion-icon slot="start" name="school-outline" aria-hidden="true"></ion-icon>
            <ion-label>
              <h3 class="detail-title">Niveau scolaire</h3>
              <p class="detail-text">Premier cycle</p>
            </ion-label>
          </ion-item>


            <ion-item class="detail-item" button (click)="callPhone('78775600')">
            <ion-icon slot="start" name="call-sharp" aria-hidden="true"></ion-icon>
            <ion-label>
              <h3 class="detail-title">Tel</h3>
              <p class="detail-text">78-77-56-00</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div class="cta-section">
        <ion-button expand="block" class="cta-button" (click)="viewChildren()">
          Voir les enfants
          <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<app-menu></app-menu>
