.google-btn{
    --color: black;
    
     --border-color: #E67E22; 
  --border-width: 2px;     
  --border-style: solid;   
  font-size: 18.5px;
    
}
.material-icons {
  font-size: 24px;
  color: #DB4437; /* rouge officiel Google */
}
.icons{
    font-size:  30px;
    font-weight: bold;
    color: #E67E22;
}
.login-container {
  background: #fff; /* optionnel, pour voir l’ombre */
  padding: 20px;
  border-radius: 30px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h2
{
    color: #063854;
    font-size: 2em;
    text-align: center;
    font-weight: bold;

     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      
}
.login{
    font-size: 18px;
    --color: white;
    --background:linear-gradient(90deg, #063854 0%, #E67E22 100%);
}
.logo-container {
    display: flex;
    justify-content: center;
  ion-img {
    width: 200px;
    height: 200px;
  }
 
}

p {
  text-align: center;
  margin: 10px 0;
}

.signup-text {
  text-align: center;
  font-size: 20px;

  a {
    color: #007bff;
    text-decoration: none;
  }
}
.password-forget{
    text-align: end;
    font-size: 20px;
    margin-top: 20px;
}

ion-button {
  margin: 20px 0;
   --background: white;
    height:60px;
  --border-radius: 25px;
  
}



ion-item {
  --background: white;
  margin: 15px 0;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}