<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Se connecter</h2>
  <div class="logo-container">
    <ion-img src="assets/Logo-soutoura.png"
    alt="logo"
    ></ion-img>
  </div>
  <div class="login-container">
      
      <ion-button   class="google-btn" expand="block"
   (click)="loginWithGoogle()">

    <ion-icon name="logo-google"></ion-icon>

    
    Connectez-vous avec Google
  </ion-button>

  <p style="font-weight: bold; font-size: 1.2em;">Ou</p>

  <ion-item>
    <ion-icon slot="start" name="mail-outline"  class="icons">

    </ion-icon>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="lock-closed-outline"
      class="icons"></ion-icon>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
    <ion-icon slot="end" name="eye-off-outline"  class="icons"></ion-icon>
  </ion-item>
  <p class="password-forget"><a (click)="createAccount()">Mot de passe oublié?</a></p>

  <ion-button expand="block" (click)="login()" class="login">
    Se connecter
  </ion-button>

  <p class="signup-text">Nouveau ici ? <a (click)="createAccount()">Créer un compte</a></p>
  </div>
  
</ion-content>