<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
  <div class="container_1">
  <img src="assets/Group 637 (1).png" alt="Image" class="image-haut-droite">
</div>

<ion-content class="ion-padding-top">
   <h2>Mot de passe oublié?</h2>
  <div class="logo-container">
    <ion-img src="assets/Logo-soutoura.png"
    alt="logo"
    ></ion-img>
  </div>

  <div class="container">
    <div style="display: flex;
    justify-content: center;">
         <ion-img src="assets/Vector.png" alt="lock" class="lock-rotation"></ion-img>
    </div>
   
    <ion-item>
    <ion-icon slot="start" name="mail-outline"  class="icons">

    </ion-icon>
    <ion-input type="email" [(ngModel)]="email" placeholder="Saisissez votre email"></ion-input>
  </ion-item>
    <ion-button expand="block" (click)="send()" class="send">
    Envoyer le lien
  </ion-button>
  </div>
 
</ion-content>
 <div class="container_2">
  <img src="assets/Group 967 (1).png" alt="Image" class="image-bas-gauche">
</div>


