<ion-content>

  <div class="login-card">

    <!-- Titre -->
    <h1 class="title">SE CONNECTER</h1>

    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/Logo-soutoura.png" alt="logo soutoura" class="logo" />
    </div>

  
    <!-- Bouton Google avec image PNG -->
    <div class="input-item google-btn-container" (click)="loginWithGoogle()">
      <img src="assets/google.png" alt="Google" class="google-icon">
      <div class="google-text">Connecter-vous avec Google</div>
    </div>


    <div class="separator">Ou</div>

    <!-- Champ Email -->
    <ion-item class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
        type="email"
        placeholder="Email"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <!-- Champ Mot de passe -->
    <ion-item class="input-item">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Mot de passe"
        [(ngModel)]="password">
      </ion-input>
      <ion-icon
        name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}"
        slot="end"
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-item>

    <!-- Mot de passe oublié -->
    <div class="forgot-password" (click)="forgotPassword()">
      Mot de passe oublié ?
    </div>

    <!-- Bouton Se connecter -->
    <ion-button expand="block" class="login-btn" (click)="login()">
      Se connecter
    </ion-button>

    <!-- Créer un compte -->
    <div class="register">
      Nouveau ici ? <a (click)="goToRegister()">Créer un compte</a>
    </div>

  </div>

</ion-content>
