.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* Grand cercle orange */
.big-circle {
position: absolute;
top: 12%;
display: flex;
z-index: 3;
}

.eleve-img {
  width: auto;
  height: auto;
}

/* Section arrondie orange */
.card-img {
  width: 100%;
  height: auto;
  position: relative;
  top: 345px;
  z-index: 1;
}

// .card-orange {
//   width: 100%;
//   height: 46%;
//   background: #E67E22;
//   border-top-left-radius: 100px;
//   border-top-right-radius: 100px;
//   display: flex;
//   // justify-content: center;
//   z-index: 1;
// }

/* Section arrondie bleue */
// .card-blue {
//   width: 100%;
//   height: auto;
//   background: #063854;
//   border-top-left-radius: 100px;
//   border-top-right-radius: 100px;
//   // padding: 40px 20px;
//   color: white;
//   // text-align: center;
//   margin-top: 5%;/* chevauchement */
//   z-index: 2;
// }

.bas {
  margin-top: 2%;
  z-index: 2;
  position: relative;
  top: -50px;
}

/* Points de progression */
.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.dot {
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
}

.dot.active {
  width: 25px;
  height: 30px;
  background: #E67E22;
  margin-bottom: -2px;
}

/* Titres */
.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10%;
  text-align: center;
  color: #fff;
}

.subtitle {
  font-size: 20px;
  margin-top: 10%;
  color: #fff;
  text-align: center;
}

/* Bouton flèche */
.next-btn {
  width: 60px;
  height: 60px;
  background: #E67E22;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 8%;
  cursor: pointer;
}

.next-btn ion-icon {
  font-size: 28px;
  color: white;
}
