<ion-content [fullscreen]="true">
  <div class="container">


    <div class="big-circle">
      <img src="./assets/img-accueil2.png" alt="les éléves" class="eleve-img" />
    </div>

    <!-- Section arrondie orange -->
    <!-- <div class="card-orange">
       Section arrondie bleue -->
      <!-- <div class="card-blue"> -->
    <div class="card-bleu-orange">
      <img src="assets/div-img.png" alt="card" class="card-img"/>
    <div class="bas">
        <!-- Indicateurs de progression -->
        <div class="dots">
          <div class="dot"></div>
          <div class="dot active"></div>
          <div class="dot"></div>
        </div>

        <!-- Textes -->
        <h2 class="title">
          Chaque enfant mérite une chance
        </h2>
        <p class="subtitle">
          Ensemble, donnons à chaque enfant l’opportunité d’apprendre.
        </p>

        <!-- Bouton flèche -->
        <div class="next-btn"> <ion-icon name="arrow-forward-outline"></ion-icon> </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
</div>
</ion-content>
