<ion-footer class="ion-no-border">
  <div class="custom-footer">
    <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline" class="icons"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parrainages" routerLink="/parrainages">
      <ion-icon name="people-outline" class="icons"></ion-icon>
      <ion-label>Parrainages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="association" routerLink="/association">
      <ion-icon src="assets/fluent-emoji-high-contrast_school.png" class="icons"></ion-icon>
      <ion-label>Association</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paiements" routerLink="/paiements">
      <ion-icon src="assets/emojione-monotone_money-bag.png" class="icons"></ion-icon>
      <ion-label>Paiements</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  </div>
  
</ion-footer>
