<ion-footer class="ion-no-border">
      <ion-tab-bar slot="bottom" class="custom-footer">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline" class="icons"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parrainages" routerLink="/parrainages">
      <ion-icon name="people-outline" class="icons"></ion-icon>
      <ion-label>MesParrainages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="association" routerLink="/association">
      <ion-icon name="business-outline"  class="icons"></ion-icon>
      <ion-label>Association</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paiements" routerLink="/paiements">
      <ion-icon name="wallet-outline"  class="icons"></ion-icon>
      <ion-label>Paiements</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-footer>
